@font-face {
    font-family: 'walter_turncoatregular';
    src: url('walterturncoat-webfont.eot');
    src: url('walterturncoat-webfont.eot?#iefix') format('embedded-opentype'),
         url('walterturncoat-webfont.woff2') format('woff2'),
         url('walterturncoat-webfont.woff') format('woff'),
         url('walterturncoat-webfont.ttf') format('truetype'),
         url('walterturncoat-webfont.svg#walter_turncoatregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

