/***************************************************************************************
 *   	Frédéric DANIAU
 *                Projet :   La Petite Ebénisterie en Herbe 'lPEeh'
 *                  Page :   general.css
 *                Chemin :   lPEeh/config/css/general.css
 *                  Type :   feuille de style en cascade
 *              Contexte :   css 3.0
 *              Fonction :   défintion des styles d'affichage
 *   Date mise en oeuvre :   10/04/2020
 *          Dernière MàJ :   26/03/2021
 ****************************************************************************************/
/*
Palette

*/
 /***** ***** ***** Containers ***** ***** *****/
 #site-container{
	opacity: 1;
    background-color: transparent;
    -webkit-font-smoothing: antialiased;
	margin: 10px;
	padding: 10px;
}
/***** ***** ***** Webfonts ***** ***** *****/
@font-face{
	font-family: "2Dumb";
	src: url('../fonts/2dumb_regular/2Dumb-webfont.eot') format('eot'),
		 url('../fonts/2dumb_regular/2Dumb-webfont.woff') format('woff'),
		 url('../fonts/2dumb_regular/2Dumb-webfont.ttf') format('truetype'),
		 url('../fonts/2dumb_regular/2Dumb-webfont.svg') format('svg');
}
@font-face{
	font-family: "Acme";
	src: url('../fonts/acme_regular/Acme-Regular-webfont.eot') format('eot'),
		 url('../fonts/acme_regular/Acme-Regular-webfont.woff') format('woff'),
		 url('../fonts/acme_regular/Acme-Regular-webfont.ttf') format('truetype'),
		 url('../fonts/acme_regular/Acme-Regular-webfont.svg') format('svg');
}
@font-face{
	font-family: "Calistoga";
	src: url('../fonts/calistoga/calistoga-regular-webfont.eot') format('eot'),
		 url('../fonts/calistoga/calistoga-regular-webfont.woff') format('woff'),
		 url('../fonts/calistoga/calistoga-regular-webfont.ttf') format('truetype'),
		 url('../fonts/calistoga/calistoga-regular-webfont.svg') format('svg');
}
@font-face{
	font-family: "BrushStrokePlain";
	src: url('../fonts/brushstrokeplain_plain/BRUSHSTP-webfont.eot') format('eot'),
		 url('../fonts/brushstrokeplain_plain/BRUSHSTP-webfont.woff') format('woff'),
		 url('../fonts/brushstrokeplain_plain/BRUSHSTP-webfont.ttf') format('truetype'),
		 url('../fonts/brushstrokeplain_plain/BRUSHSTP-webfont.svg') format('svg');
}
/***** ***** ***** Balises HTML ***** ***** *****/
html{
	height: 100%;
}
body{
	min-height: 100%;
	position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	background-image: url("../../media/pics/wood_04.jpg");
	background-repeat: repeat-y;
	background-size: cover;
	background-color: #101010;
}
footer{
	opacity: 0.65;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../../media//pics/lightwood_02.jpg");
	background-size: contain;
	background-repeat: repeat-x;
	margin-top: 20px;
	margin-left: 15%;
	padding: 10px;
	color: #000;
	position: absolute;
	bottom: 0;
	width: 70%;
	font-family: "Calistoga";
}
a{
	color: #000;
	text-shadow: 2px 2px #A4762C;
	text-decoration: none;
	transition-property: all;
	-moz-transition-property: all;
	-webkit-transition-property: all;
	transition-duration: 1250ms;
	-moz-transition-duration: 1250ms;
	-webkit-transition-duration: 1250ms;
}
a:hover{
	color: #75AD41;
	text-shadow: 2px 3px #000;
	text-decoration: underline;
}
/***** ***** ***** Titrages HTML ***** ***** *****/
h1,h2,h3,h4{
	background-color: transparent;
}
h1,h1 a{

}
h2,h2 a{

}
h3,h3 a{

}
h4,h4 a{

}
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover{

}
/***** ***** ***** En-tête graphique ***** ***** *****/
#site-header{
	opacity: 0.65;
	background-image: url("../../media//pics/lightwood_02.jpg");
	background-size: contain;
	background-repeat: repeat-x;
	margin-left: 50px;
	margin-right: 50px;
	padding: 10px;
	border-top: 2px outset #000;
	border-right: 2px outset #000;
	border-left: 2px outset #000;
	border-bottom: 1px outset #000;
	border-radius: 50px;
	color: #000;
	text-shadow: 2px 2px #A4762C;
	letter-spacing: 0.15em;
}
#site-header img{
	max-height: 200px;
}
#site-title,.header-text{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Calistoga";
	font-variant: small-caps;
}
#site-title{
	font-size: 70px;
	letter-spacing: 0.1em;
}
.header-text{
	font-size: 40px;
	letter-spacing: 0.15em;
}
/***** ***** ***** Menu principal ***** ***** *****/
.navbar{
	opacity: 0.65;
	background-image: url("../../media//pics/lightwood_01.jpeg");
	background-size: cover;
	background-repeat: repeat-y;
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 20px;
	padding: 10px;
	border-top: 1px outset #000;
	border-right: 2px outset #000;
	border-left: 2px outset #000;
	border-bottom: 2px outset #000;
	border-radius: 35px;
	font-family: "Calistoga";
	font-size: 34px;
	letter-spacing: 0.1em;
	font-variant: small-caps;
}
.nav-item{
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 35px;
	transition-property: all;
	-moz-transition-property: all;
	-webkit-transition-property: all;
	transition-duration: 1250ms;
	-moz-transition-duration: 1250ms;
	-webkit-transition-duration: 1250ms;
}
.nav-item:hover{
	background-color: #A4762C;
}

/***** ***** ***** ***** ***** ***** ***** ***** *****/
/* * *** ***** ***** Media queries ***** ***** *** * */
/***** ***** ***** ***** ***** ***** ***** ***** *****/
/* *** *** *** Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	
}
/* *** *** *** Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
}
/* *** *** *** Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
}
/* *** *** *** Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
}
/* Extra large devices (large desktops)
   No media query since the extra-large breakpoint has no upper bound on its width */